<!-- views/partials/beerRandomizer.hbs -->

<div>
    <img src="{{beer.image_url}}" alt="{{beer.name}}">
    <br>
    <h2>{{beer.name}}</h2>
    <br>
    <p><b>Description: </b>{{beer.description}}</p>
    <br>
    <p>Tagline: {{beer.tagline}}</p>
</div>